<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://alpha-blog-yoon.herokuapp.com/">Alpha Blog Practice Page</a> from the lesson <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview">The Complete Ruby on Rails Developer</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>